<div class="skill-card">
    {% if skill.is_owned %}
        <img src="{{ url_for('static', filename='my-skill.png') }}" class="badge" alt="My skill">
    {% endif %}
    <a href="{{ url_for('skill.skill_detail', skill_id=skill.id) }}">
        {% if skill.image_path %}
            <img src="{{ url_for('static', filename=skill.image_path) }}" alt="{{ skill.title }}">
        {% else %}
            <img src="{{ url_for('static', filename='placeholder.png') }}" alt="No Image">
        {% endif %}
    </a>
    <div class="skill-info">
        <h3><a href="{{ url_for('skill.skill_detail', skill_id=skill.id) }}">{{ skill.title }}</a></h3>
        {% if skill.is_free %}
            <p class="price">Free</p>
        {% else %}
            <p class="price">{{ skill.price }} €</p>
        {% endif %}
    </div>
</div>
