{% extends 'layout.html' %}

{% block title %}Browse Skills{% endblock %}

{% block head %}
    <link rel="stylesheet" href="{{ url_for('static', filename='skill.css') }}">
{% endblock %}

{% block content %}

    {% with messages = get_flashed_messages(with_categories=true) %}
        {% if messages %}
            <div class="flash-messages">
                {% for category, message in messages %}
                    <div class="alert alert-{{ category }}">{{ message }}</div>
                {% endfor %}
            </div>
        {% endif %}
    {% endwith %}


    <h2>{{ skills_title }}</h2>
    <div class="skill-grid">
        {% for skill in skills %}
            {% include "skills/_skill_card.html" %}
        {% endfor %}
    </div>
    {% include "common/_pagination.html" %}

{% endblock %}