{% extends 'layout.html' %}

{% block title %}Orders{% endblock %}

{% block head %}
    <link rel="stylesheet" href="{{ url_for('static', filename='skill.css') }}">
{% endblock %}

{% block content %}
    {% include 'orders/_orders_heading.html' %}
    <div class="skill-grid">
        {% for order in orders %}
            {% include "orders/_order_card.html" %}
        {% endfor %}
    </div>
    {% if not orders %}
    <p>No orders found!</p>
    <a href="{{ url_for('profile.index') }}">To profile</a>
    {% endif %}
{% endblock %}