{% extends 'layout.html' %}

{% block title %} Submit review {% endblock %}

{% block head %}
    <link rel="stylesheet" href="{{ url_for('static', filename='skill.css') }}">
{% endblock %}

{% block content %}

<div class="form-container">
  <h2>Give Rating:</h2>
<form action="{{ url_for('orders.review_order', order_id=order.id) }}" method="post">
    <input type="hidden" name="csrf_token" value="{{ session.csrf_token }}" />
      <div class="form-group rating-group">
        <label class="rating-label">Rating:</label>
        <div class="star-rating">
          {% for i in range(5, 0, -1) %}
            <input type="radio" id="star{{ i }}" name="rating" value="{{ i }}" required>
            <label for="star{{ i }}" title="{{ i }} stars">★</label>
          {% endfor %}
        </div>
      </div>
        <div class="form-group">
            <label for="comment">Review comment:</label>
            <textarea id="comment" name="comment" placeholder="Leave a comment (optional). Max. 256 chars." maxlength="256"></textarea>
        </div>
  <button type="submit" class="btn">Submit Review</button>
</form>
</div>

{% endblock %}